#map {
    height: 400px;
    width: 75%;
    float: right;
    border-radius: 20px;
}

#marcas {
    height: 400px;
    width: 100%;
    float: left;
}

#accordion {
    width: 24%;
    height: 100%;
    float: left;
    overflow-y: scroll;
}
.ui-state-default {
    border:0;
}
.ui-widget {
    font-family: Vidaloka,Arial;
    }
